{% extends 'base.html' %}

{% include 'header.html' %}

{% block content %}
<section id="bookings">
    <div>
        <ul>
            {% for day in week %}
            <div>
                <li>
                    <a href="/members/{{ id }}/book_{{ day }}">{{ day }}</a>
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if activities %}
        <ul>
            {% for activity in activities %}
            <div>
                {{ activity.name }}
                {{ activity.location.room_name }}
                {{ activity.get_start_time() }}
                <a href="/bookings/">Book lesson</a>
                <a href="/activities/<id>/view">View details</a>
            </div>
            {% endfor %}
        </ul>
        {% endif %}    
    </div>
    
</section>
{% endblock %}