{% extends 'ext_base.html' %}

{% block content %}
<section id="all-content">
    <aside id="quicklinks">
        <div id="user-profile">
            <h1>Welcome {{member.first_name}}</h1>
            <a href="/members/{{ member.id }}/edit">Edit profile</a>
        </div>
        <div id="upcoming-classes">
        <p>Upcoming classes for {{ today }}</p>
        {% if upcoming %}
            <ul>
                {% for activity in upcoming %}
                <li>
                    <div>
                        {{ activity.get_start_time() }}
                        <div>
                            {{ activity.name }}<br>
                            {{ activity.location.room_name }}<br>
                            <a href="/bookings/{{ activity.id }}_{{ member.id }}_add">Book lesson</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No upcoming classes</h3>
        {% endif %}
        </div>
    </aside>
    <section class="img-div" id="book">
        <h1>Book a class</h1>
        <a href="/members/{{ member.id }}/book_{{ today }}" class="img-link" id="activity-link">Book a class</a>
    </section>
    <section class="img-div" id="view-bookings">
        <h1>View all bookings</h1>
        <a href="/bookings/{{ member.id }}/view" class="img-link" id="bookings-link">View all bookings</a>
    </section>
</section>
{% include "footer.html" %}
{% endblock %}