{% extends 'ext_base.html' %}

{% block content %}
<section>
<h2> Update account information </h2>
<div id="form-div">
    <form id="join-form" action="/members/{{ member.id }}/edit" method='POST'>
        <div class="input-div">
            <input type="text" id="first-name" name="first-name" value="{{ member.first_name }}" required>
        </div>
        <div class="input-div">
            <input type="text" id="last-name" name="last-name" placeholder=" Surname" value="{{ member.last_name }}" required>
        </div>
        <div class="input-div">
            <input type="email" id="email" name="email" placeholder=" Email" value="{{ member.email }}"required>
        </div>
        <div class="input-div">
            <label for="premium">Premium Membership</label>
            {% if member.premium %}
                <input class="prem" type="checkbox" id="premium" name="premium" value="premium" checked>
            {%else%}
                <input class="prem" type="checkbox" id="premium" name="premium" value="premium">
            {% endif %}
        </div>
        <div class="input-div">
            <input class="join-button" type="submit" id="submit" value="Update Details">
        </div>   
    </form>
</div>

</section>
{% endblock %}