{% extends 'ext_base.html' %}

{% block content %}
<section>
    <h2>Your Bookings</h2>
    <div id="all-bookings">
        {% if activities %}
            <table id="bookings">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>Activity</th>
                        <th>Location</th>
                    </tr>  
                </thead>
            {% for activity in activities %}
            <tr>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.get_start_time() }}</a></td>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.name }}</a></td>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.location.room_name }}</a></td>
            </tr>  
            {% endfor %}
        </table>
        {% else %}
        <div>
            <h3>You have not made any bookings yet</h3>
        </div>
        {% endif %}
    </div>
      
    <div id="dash">
        <form action="/members/dash_{{ id }}">
            <input class="submit-button" type="submit" value="Back to Dashboard">
        </form>
    </div>  
    
</section>
{% endblock %}