header {
    display: flex;
    width: 100%;
    background-color: white;
    height: 75px;
}

#logo {
    align-self: flex-end;
    width: 15%;
}

#logo > h1 {
    
}

footer {
    width: 100%;
    background-color: #c8d8e4;
}

body {
    margin: 0;
    background-color: #2b6777;
}

