#splash {
    background-image: url(../images/front_splash_running.jpeg);
    background-color:#2b6777;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

#splash-div {
    margin-top: 5%;
    margin-left: 35%;
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#splash-div > h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color:white;
}

#splash-div > h4 {
    text-align: center;
    font-size: 16pt;
    color: #52ab98;
    margin-top: 15px;
    margin-bottom: 10px;
}


#splash-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 60pt;
    color: #52ab98;
    align-self: center;
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    height: 75px;
    justify-content: flex-end;
}

#logo {
    width: 15%;
    text-align: center;
    background-color:  #52ab98;
}

#logo-color-gradient {
    width:30%;
    background-image: linear-gradient(to right, white, #52ab98);
}

#logo > h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#splash-footer {
    background-color: transparent;
}

.base-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bdccd8;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #52ab98;
    text-decoration: underline;
}

body {
    margin: 0;
    background-color: #2b6777;
}

#all-content {
    display: grid;
    width: 98vw;
    margin: 1vw;
    height: 500px;
    grid-template-areas: "quicklinks book view";
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 10px;
}

#quicklinks {
    grid-area: quicklinks;
}

#book {
    grid-area: book;
    background-image: url(../images/gym_spin_class.jpeg); 
}

.img-div {
    background-color: #2b6777;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
}

.img-div:hover {
    transform:scale(1.01);
    background-blend-mode: normal;
}

.img-div > h1 {
    font-size: 24pt;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.img-link {
    display:block;
    width: 100%;
    height: 100%;
    color: white;
    text-indent: -9999px;
}

#view-bookings {
    grid-area: view;
    background-image: url(../images/empty_gym_class.jpeg);
}

#user-profile {
    background-color: #c8d8e4;
    margin: 5%;
    height: 130px;
    border-radius: 2px;
    position: relative;
}

#user-img {
    height: 80px; 
    width: 80px;
    background-image: url(../images/Profile_avatar_placeholder_large.png);
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
    border-radius: 4px;
    background-color: rgba(255, 98, 1, 0.851);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -40px; 
  }

#user-profile > h1 {
    padding-top: 5px;
}

#upcoming-classes {
    background-color: #c8d8e4;
    overflow-y: auto;
    margin: 5%;
    height: 320px;
    border-radius: 2px;
}

#about {
    display: grid;
    width: 100vw;
    height: 100vw;
    grid-template-areas: "blurb image";
    grid-template-columns: 7fr 4fr;
    margin: 0;
}

#about-content > p {
    margin: 5%;
    color: white;
    font-size: 14pt;
    text-align: justify;
}

#about-img {
    background-image: url(../images/worlds_best_gym.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#about-content {
    width: 100%;
    height: 100%;
    background-color:#2b6777
}

#bookings {
    display: flex;
    flex-direction: column;

}

#all-acts {
    display: flex;
    flex-direction: row;
}



