{% extends 'base.html' %}

{% include 'header.html' %}

{% block content %}
<section>
<h2> Create new activity </h2>
<div id="form-div">
    <form id="add-form" action="/activities/add" method='POST'>
        <div class="input-div">
            <input type="text" id="name" name="name" placeholder=" Activity name" required>
        </div>
        <div class="input-div">
            <label for="time">Activity time:</label>
            <input type="datetime-local" id="time" name="time" 
            min="{{ displaytime }}", max="{{ maxtime }}" value="{{ displaytime }}" required>
        </div>
        <div class="input-div">
            <select class="options" id="location" name="location"n required>
                <option value="" disabled selected hidden>Choose room...</option>
                
                {% for loc in locs %}
                    <option value="{{ loc.id }}">{{ loc.room_name }} ({{ loc.capacity }})</option>
                {% endfor %}
            
            </select>
        </div>
        <div class="input-div">
            <input class="submit-button" type="submit" id="submit" value="Create Activity">
        </div>   
    </form>
</div>
<p>{{ message }}</p>
</section>
{% endblock %}