{% extends 'ext_base.html' %}

{% block content %}
<section id="booking-content">
    <h2>Upcoming activities</h2>
    <div id="date-picker"> 
        <h3>Select a date to view all classes</h3>
        <ul>
            {% for day in week %}
            <li>
                {% if day != selected_date %}
                <a href="/activities/{{ id }}/view_{{ day }}">{{ day }}</a>
                {% else %}
                <a href="/activities/{{ id }}/view_{{ day }}" style="color: #FF0000;">{{ day }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="all-bookings">
        {% if activities %}
            <table id="bookings">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>Activity</th>
                        <th>Location</th>
                    </tr>  
                </thead>
            {% for activity in activities %}
            <tr>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.get_start_time() }}</a></td>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.name }}</a></td>
                <td><a href="/activities/{{ id }}_viewing_{{ activity.id }}/view">{{ activity.location.room_name }}</a></td>
            </tr>  
            {% endfor %}
        </table>
        {% else %}
        <div>
            <p>No upcoming activities</p>
        </div>
        {% endif %}
    </div>
      
    <div id="dash">
        {% if id == 'admin' %}
        <form action="/admin-dash">
        {% else %}
        <form action="/members/dash_{{ id }}">
        {% endif %}
            <input class="submit-button" type="submit" value="Back to Dashboard">
        </form>
    </div>  
</section>
{% endblock %}