{% extends "ext_base.html" %}

{% block content %}
<section id="about">
    <div id="about-content">
        <figure>
            <blockquote>
                <p><b>"Easily the third most meteoric rise in popularity of any gym-based app ever..."</b></p>
            </blockquote>
            <figcaption><cite>-Forbes</cite></figcaption>
        </figure>
        <figure>
            <blockquote>
                <p><b>"A true Cinderella story, <i>FitMeIn</i>'s CEO is surely the Mark Zuckerberg of Gym class scheduling"</b></p>
            </blockquote>
            <figcaption><cite>-Time Magazine</cite></figcaption>
        </figure>
        <br>
        <p>From humble beginnings in a worn out garage in Glasgow somewhere, FitMeIn has grown rapidly in a few short
        years to become <i>the</i> leading gym class scheduling app in the world, crushing the competition and 
        propelling it's founder and CEO, Allen Kelly to levels of fame and fortune rivalled only by the biblical 
        Kings of Old. While Mr Kelly's well documented PCP addiction and links to high-profile Bitcoin theft in the Far East
        have caused him to move on from the company which once brought him so much joy, the FitMeIn family will always
        be grateful for his efforts, and look forward to the Aaron Sorkin biopic of his life, starring professional Mark
        Zuckerberg impersonator, Jesse Eisenberg.<br><br>
        Today, the company goes from strength to strength. Thanks to our recent merger with PepsiCo, FitMeIn plan
        to expand our operations in the South Pacific, buying several small islands where our wealthiest
        customers and shareholders will enjoy the ultimate in fitness training - hunting men for sport using automatic weapons
        and the latest in high-tech surveillance equipment. 
        </p>
    </div>
    <div id="about-img">
    </div>
</section>
{% endblock %}