{% extends "ext_base.html" %}

{% block content %}
    <h1>FitMeIn Is Powered By:</h1>       
    <div id="about-content">
        <a a href="http://www.python.org" class="logo-link" target="_blank">
            <div class="logos">
                <img class="fit" src="static/images/logos/python-powered.png" alt="Python logo">
            </div>
        </a>
        <a a href="https://flask.palletsprojects.com/" class="logo-link" target="_blank">
            <div class="logos">
                <img class="fit" src="static/images/logos/flask_logo_transparent.png" alt="Flask logo">
            </div>
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="logo-link" target="_blank">
            <div class="logos">
                <img class="fit" src="static/images/logos/html5.png" alt="HTML logo">
            </div>
        </a>
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="logo-link" target="_blank">
            <div class="logos">
                <img class="fit" src="static/images/logos/css.png" alt="CSS logo">
            </div>
        </a>
        <a href="https://www.postgresql.org/" class="logo-link" target="_blank">
            <div class="logos">
                <img class=fit src="static/images/logos/postgresql.png" alt="PostgreSQL logo">
            </div>
        </a>
    </div>
{% endblock %}