{% extends 'base.html' %}

{% include 'header.html' %}

{% block content %}
<section id="all-content">
    <aside id="quicklinks">
        <div id="user-profile">
            <h1>Welcome {{ admin_id }}</h1>
        </div>
        <div id="upcoming-classes">
        <p>Upcoming classes for {{ today }}</p>
        {% if upcoming %}
            <ul>
                {% for activity in upcoming %}
                <li>
                    <div>
                        {{ activity.get_start_time() }}
                        <div>
                            {{ activity.name }}<br>
                            {{ activity.location.room_name }}<br>
                            <a href="/activities/{{ admin_id }}/add">Edit activity</a>
                        </div>  
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>No upcoming classes</h3>
        {% endif %}
        </div>
    </aside>
    <section id="add-activity">
        <a href="/activities/{{ admin_id }}/add">Add new activity</a>
    </section>
    <section id="view-activity">
        <a href="/activities/{{ admin_id }}/view">View all activities</a>
    </section>
</section>
{% endblock %}