{% extends 'base.html' %}
    
{% block content %}
    <section id="splash">
        <div id="splash-div">
            <h2 id="splash-logo"> <i>FitMeIn</i> </h2>
            <h3>Start your fitness journey today</h3>
                <form id="splash-form" action="/members/verify" method="POST">
                    <input type="email" id="email" name="email" placeholder="Enter email address" required>
                    <input id="splash-submit" class="submit-button" type="submit" value="Go">
                </form><br>
                <h4>OR</h4>
                <form action="/members/join">
                    <input id="splash-submit" class="submit-button" type="submit" value="Sign up">
                </form>
            <br>
        </div>
    </section>

<footer class="base-footer" id="splash-footer">
    <nav>
        <a href="/">Home</a> |
        <a href="/contact">Contact us</a> |
        <a href="/admin-dash">Admin</a> |
        <a href="/about">About</a>
    </nav>
</footer>
{% endblock %}

